In [3]:
import h3
import pandas as pd
import numpy as np

# This is for importing from other folders
# import sys
# sys.path.append('./project-files/helper_functions/')

from gridding import h3_grid

In [4]:
# Read and concatnate data into a single dataframe
df = pd.DataFrame({})

for year in range(2000, 2024, 2):
  df_year = pd.read_csv(f'../../data/birds/{year}-{year+1}.csv')
  df = pd.concat([df, df_year])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398117 entries, 0 to 987437
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   ScientificName  object
 1   TaxonID         object
 2   Date            object
 3   Latitude        float64
 4   Longitude       float64
 5   Municipality    object
dtypes: float64(2), object(4)
memory usage: 608.7+ MB

In [5]:
# Drop NAs from Lat and Lon. Otherwise h3 cannot work with these.
df.dropna(subset=['Latitude', 'Longitude'], inplace=True)
df.head()

,ScientificName,TaxonID,Date,Latitude,Longitude,Municipality
0,Strix aluco,http://tun.fi/MX.28998,2000-01-01 - 2000-12-31,60.3409,25.2425,Sipoo
1,Fringilla coelebs,http://tun.fi/MX.36237,2001-07-24,60.1770,24.2020,Siuntio
2,Certhia familiaris,http://tun.fi/MX.34616,2000-05-14,60.4421,24.5190,Vihti
3,Cyanistes caeruleus,http://tun.fi/MX.34574,2000-04-25,61.5930,27.3188,Mikkeli
4,Corvus monedula,http://tun.fi/MX.37142,2001-04-22,60.1770,24.2020,Siuntio

In [2]:
grid_object = h3_grid()
grid_object.fit(df)

NameError: name 'h3_grid' is not defined

In [1]:
grid_object.grid_info()

NameError: name 'grid_object' is not defined