In [3]:
import h3
import pandas as pd
import numpy as np

# This is for importing from other folders
# import sys
# sys.path.append('../')
# from helper_functions.gridding import h3_grid
from gridding import h3_grid

In [4]:
# Read and concatnate data into a single dataframe
df = pd.DataFrame({})

for year in range(2000, 2024, 2):
  df_year = pd.read_csv(f'../../data/birds/{year}-{year+1}.csv')
  df = pd.concat([df, df_year])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398117 entries, 0 to 987437
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   ScientificName  object
 1   TaxonID         object
 2   Date            object
 3   Latitude        float64
 4   Longitude       float64
 5   Municipality    object
dtypes: float64(2), object(4)
memory usage: 608.7+ MB

In [5]:
# Drop NAs from Lat and Lon. Otherwise h3 cannot work with these.
df.dropna(subset=['Latitude', 'Longitude'], inplace=True)
df.head()

,ScientificName,TaxonID,Date,Latitude,Longitude,Municipality
0,Strix aluco,http://tun.fi/MX.28998,2000-01-01 - 2000-12-31,60.3409,25.2425,Sipoo
1,Fringilla coelebs,http://tun.fi/MX.36237,2001-07-24,60.1770,24.2020,Siuntio
2,Certhia familiaris,http://tun.fi/MX.34616,2000-05-14,60.4421,24.5190,Vihti
3,Cyanistes caeruleus,http://tun.fi/MX.34574,2000-04-25,61.5930,27.3188,Mikkeli
4,Corvus monedula,http://tun.fi/MX.37142,2001-04-22,60.1770,24.2020,Siuntio

In [6]:
grid_object = h3_grid()
grid_object.fit(df)

In [10]:
grid_object.grid_info()

,h3_cell,observations_id,count,neighbors
0,85012603fffffff,"[83371, 83379, 83388, 83391, 83392, 83393, 833...",1450,"{8501260bfffffff, 8501261bfffffff, 85012607fff..."
1,85012613fffffff,"[83372, 83373, 83374, 83375, 83376, 83377, 833...",1165,"{850126c7fffffff, 8501261bfffffff, 8501268bfff..."
2,85012617fffffff,"[1012023, 1106452, 1106453, 1106454, 1106455, ...",52,"{85012607fffffff, 850126abfffffff, 850126bbfff..."
3,8501261bfffffff,"[4865, 4866, 5194, 5195, 653607, 2681, 4502, 4...",1365,"{8501260bfffffff, 850126c7fffffff, 850126cffff..."
4,85012643fffffff,"[709475, 709476, 709477, 709478, 709479, 70948...",447,"{85012653fffffff, 8501265bfffffff, 85012643fff..."
...,...,...,...,...
2063,85112ed3fffffff,"[196349, 530183, 537374, 569130, 582496, 61454...",2895,"{85112ec3fffffff, 8511216bfffffff, 85112ed7fff..."
2064,85112ed7fffffff,"[197417, 205764, 403088, 530176, 530177, 70028...",2062,"{85112ec3fffffff, 85112e8bfffffff, 85112ec7fff..."
2065,85112edbfffffff,"[196347, 196348, 268174, 268175, 268176, 66772...",3742,"{85112ec3fffffff, 85112ecbfffffff, 851123affff..."
2066,851135a7fffffff,[647965],1,"{851135a3fffffff, 851122d3fffffff, 851135b7fff..."
2067,851135b7fffffff,"[867926, 917550, 917551, 917552, 917553, 91755...",101,"{8511267bfffffff, 851135b3fffffff, 851135b7fff..."