In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
from shapely.geometry import Polygon

import sys
sys.path.append('../')
from helper_functions.gridding import h3_grid
from func_import import load_data, load_geojson, plot_observation_count, plot_observation_municipality, plot_grid_map

In [2]:
df = load_data()  
df.dropna(subset=['Latitude', 'Longitude'], inplace=True)

grid_object = h3_grid()
grid_object.fit(df)
df_h3 = grid_object.grid_info().sort_values('count')
geojson_object = load_geojson(df_h3)

In [3]:
df['ScientificName'].value_counts()

Parus major               832935
Cyanistes caeruleus       671676
Phylloscopus trochilus    441687
Fringilla coelebs         344729
Erithacus rubecula        283010
                           ...
Scolopacinae                   1
Tetraonini                     1
Puffinus puffinus              1
Charadrius veredus             1
Heterophasia picaoides         1
Name: ScientificName, Length: 758, dtype: int64

In [3]:
df['Year'] = df['Date'].apply(lambda row: row[:4])

In [4]:
fig = plot_observation_count(df)
fig.write_html("./precomp_data/observation_count.html")

In [6]:
for year in df['Year'].unique():
  fig = plot_observation_municipality(df, year)
  fig.write_html(f"./precomp_data/observation_muni/{year}.html")

fig = plot_observation_municipality(df)
fig.write_html(f"./precomp_data/observation_muni/all.html")

Hanko       39307
Espoo       14955
Kotka       10468
Helsinki     9670
Joensuu      8891
Vantaa       8164
Tampere      7684
Eurajoki     7435
Kaarina      7076
Turku        7020
Name: Municipality, dtype: int64
Hanko          22994
Espoo          20844
Tampere        16261
Turku          11141
Helsinki       10987
Vantaa         10833
Kirkkonummi    10657
Ikaalinen      10382
Kotka           9787
Oulu            9348
Name: Municipality, dtype: int64
Hanko          28486
Tampere        15879
Espoo          14628
Turku          12496
Hämeenlinna    11243
Lemland        10323
Parainen       10315
Oulu            9849
Rovaniemi       9259
Vantaa          8612
Name: Municipality, dtype: int64
Hanko       25825
Espoo       17619
Oulu        16857
Tampere     16844
Turku       14467
Kaarina     11134
Kotka        9424
Helsinki     9350
Vantaa       8695
Liminka      8436
Name: Municipality, dtype: int64
Hanko          28332
Tampere        16048
Lemland        15261
Espoo          13361
Turku          12165
Oulu           11467
Vantaa          9335
Joensuu         9207
Kirkkonummi     8057
Rovaniemi       7026
Name: Municipality, dtype: int64
Hanko          32793
Espoo          17478
Turku          14300
Tampere        12978
Vantaa         11826
Joensuu        11770
Kirkkonummi    11492
Lemland        10107
Oulu            9525
Helsinki        9168
Name: Municipality, dtype: int64
Hanko          26685
Espoo          15970
Helsinki       14489
Parainen       13385
Tampere        12967
Hämeenlinna    12290
Ii             11809
Oulu           11455
Rovaniemi      11353
Inari           9952
Name: Municipality, dtype: int64
Hanko        23420
Espoo        14043
Tampere      12170
Rovaniemi    12133
Helsinki     12018
Oulu         10806
Parainen     10403
Joensuu       9646
Turku         9621
Hattula       9607
Name: Municipality, dtype: int64
Hanko          34914
Espoo          15577
Helsinki       14984
Turku          12134
Parainen       11912
Tampere        10447
Hattula        10264
Hämeenlinna    10017
Rovaniemi       9852
Eurajoki        9669
Name: Municipality, dtype: int64
Hanko          32888
Espoo          14424
Oulu           12465
Rovaniemi      11322
Helsinki       11097
Hämeenlinna    10859
Turku          10065
Hattula         9582
Joensuu         9368
Siikajoki       8874
Name: Municipality, dtype: int64
Hanko          26401
Turku          13419
Hämeenlinna    13156
Rovaniemi      12123
Hattula        10412
Espoo          10046
Helsinki        8434
Oulu            8019
Pori            7504
Kirkkonummi     6831
Name: Municipality, dtype: int64
Hanko          27285
Turku          15726
Rovaniemi      14874
Hattula        14616
Espoo          14299
Hämeenlinna    12866
Oulu           11893
Helsinki       10924
Joensuu         9920
Kirkkonummi     8956
Name: Municipality, dtype: int64
Hanko          29509
Hämeenlinna    15962
Turku          14185
Espoo          11205
Hattula        10738
Helsinki        9123
Rovaniemi       7387
Kirkkonummi     7155
Hyvinkää        6640
Pori            6386
Name: Municipality, dtype: int64
Hanko          34143
Hämeenlinna    17260
Turku          15020
Hattula        14156
Espoo          12000
Siikajoki      11163
Oulu           11030
Helsinki       10970
Rovaniemi       8647
Pori            8450
Name: Municipality, dtype: int64
Hanko          28807
Hämeenlinna    16111
Turku          15356
Parainen       12639
Helsinki       11677
Hattula        11611
Espoo          11582
Oulu           11066
Kirkkonummi    10131
Eurajoki        8773
Name: Municipality, dtype: int64
Hanko          23641
Turku          17412
Hämeenlinna    16639
Hattula        15546
Parainen       13685
Pori           12497
Oulu           12138
Rovaniemi      11752
Helsinki       10761
Espoo           9276
Name: Municipality, dtype: int64
Hämeenlinna    24887
Hanko          24578
Turku          22879
Parainen       18796
Hattula        18773
Helsinki       15947
Oulu           12332
Espoo          10872
Pori           10637
Rovaniemi      10143
Name: Municipality, dtype: int64
Hanko          29283
Hämeenlinna    19172
Turku          19144
Parainen       19019
Helsinki       15862
Hattula        14160
Oulu           14143
Pori           11009
Kirkkonummi     9883
Espoo           9795
Name: Municipality, dtype: int64
Hanko          36357
Hämeenlinna    28249
Turku          27459
Helsinki       21448
Parainen       21418
Espoo          19897
Pori           15381
Kokemäki       11216
Oulu           10692
Inari          10476
Name: Municipality, dtype: int64
Turku          29253
Espoo          26054
Helsinki       25350
Parainen       24699
Hanko          22806
Raahe          12299
Hämeenlinna    12123
Kirkkonummi    11101
Oulu           10727
Inari          10140
Name: Municipality, dtype: int64
Espoo          39672
Helsinki       30479
Hanko          25150
Turku          19216
Raahe          16280
Kaarina        12809
Kirkkonummi    12240
Merikarvia     11560
Pori           11353
Kokemäki       11160
Name: Municipality, dtype: int64
Espoo          43326
Helsinki       42373
Turku          22017
Raahe          14431
Kirkkonummi    12865
Pori           12019
Kokemäki       10970
Merikarvia     10715
Tampere         9793
Kaarina         9767
Name: Municipality, dtype: int64
Helsinki     13169
Turku        12675
Espoo         8996
Rovaniemi     7554
Oulu          7141
Raasepori     6767
Inari         6709
Kuusamo       6418
Parainen      5748
Salo          5307
Name: Municipality, dtype: int64
Helsinki     10668
Turku         9745
Espoo         8472
Oulu          7697
Rovaniemi     7368
Inari         6711
Enontekiö     5654
Sodankylä     5529
Kuusamo       5116
Salo          4780
Name: Municipality, dtype: int64
Hanko          614248
Espoo          394391
Turku          364871
Helsinki       343212
Hämeenlinna    271835
Parainen       243476
Oulu           239174
Kirkkonummi    201108
Tampere        199515
Rovaniemi      199129
Name: Municipality, dtype: int64

In [7]:
fig = plot_grid_map(df_h3, geojson_object)
fig.write_html("./precomp_data/grid_map.html")